# Global media roots
WIZARDCLI_SONGS_DIR=G:/My Drive/studio/cooks
WIZARDCLI_COVERS_DIR=G:/My Drive/studio/covers

# Last.fm
LASTFM_API_KEY=

# YouTube upload
YOUTUBE_CLIENT_SECRETS=client_secrets.json
YOUTUBE_TOKEN=token.json
YOUTUBE_UPLOAD_PRIVACY=private
